.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
    gap: 10px;
}

.text-input {
    padding: 0.5rem;
    font-size: larger;
    width: 40%;
}

.submit-btn {
    padding: 0.6rem;
    font-size: larger;
    background-color: rgb(28, 150, 28);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:active{
    transform: translateY(2px);
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    width: 100%;
}

img {
    border-radius: 10px;
    margin-bottom: 2rem;
}

h2 {
    margin-top: 2rem;
}
