*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card_con{
    width: 60%;
    height: 60vh;
    margin: auto;
    /* background-color: red; */
    /* border-bottom: 1px solid grey; */
}